.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.questions-form {
  border: 1px solid #000;
  padding: 1em;
  width: 70vw;

  display: flex;
  flex-direction: column;

  label {
    padding: 0.5em 0;
  }

  input {
    width: 100%;
    display: block;
  }

  button {
    color: #fff;
    background: #000;
    padding: 0.5em;
  }
}
